{% extends "layout/base.html.jinja2" %}
{% block title %}
職能發展學院-課程規劃
{% endblock %}

{% block link %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/classes.css')}}">
{% endblock%}

{% block main %}
<div class="course-tabs">
        <div class="tab-container">
            <button class="tab-item active" data-tab="general">一般課程</button>
            <button class="tab-item" data-tab="advanced">進階課程</button>
        </div>
        <div class="tab-line"></div>
</div>
<script src="{{ url_for('static',filename='js/classes.js')}}"></script>
{% endblock %}