{% extends "layout/base.html.jinja2" %}
{% block title %}
職能發展學院-課程規劃
{% endblock %}

{% block link %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/classes.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
{% endblock%}

{% block main %}

<div class="course-tabs">
        <div class="tab-container">
        {% for kind in kinds%}     
          <button class="tab-item {{'active' if loop.first}}">{{kind}}</button>
        {% endfor %}
        </div>
        <div class="tab-line"></div>
</div>
<section class="testimonial-grid">
  <div class="card-grid">
  {%for course in course_data%}
    <div class="testimonial-card">
      <div class="quote-text">{{course[0]}}</div>
      <div class="author-block">
        <div class="avatar">
          <span>F</span>
          <!-- <img src="Card_Grid_Icon.png" alt="陳小明 頭像"> -->
        </div>
        <div class="author-info">
          <div class="author-title">{{course[1]}}</div>
          <div class="author-description">軟體工程師</div>
        </div>
      </div>
    </div>
    {% endfor %}

    

  </div>
</section>
<script src="{{ url_for('static',filename='js/classes.js')}}"></script>
{% endblock %}